body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: green;
  font-style: italic;
}

h2 {
  padding-left: 15px;
}

li {
  color:grey;
  padding-top: 5px;
  font-size: 15px;
}

.name {
  color:grey;
  padding-top: 5px;
  font-size: 15px;
}

form {
  padding-left: 15px;
  
}

.submit {
  padding-left: 15px;
}

.name-box {
  margin-left: 22px;
  margin-bottom: 4px
}

.number-box {
  margin-left: 6px;
}